<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Checklist System', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= navi_li 'Home', root_path, 'static_pages' %>
        <%= navi_li 'User', users_path, 'users' %>
        <%= navi_li 'Channel', channels_path, 'channels' %>
        <%= navi_li 'Item', items_path, 'items' %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
